/HolaMundo/nbproject/private/
/CapturaDatosPorTeclado/build/
/OperacionesAritmeticas/nbproject/private/
/OperacionesAritmeticas/build/
/AreaTriangulo/nbproject/private/
/AreaTriangulo/build/
/Pintar cuadrado/nbproject/private/
/LiquidacionEmpresa/nbproject/private/